/* MICROSTORY */
.micro-story{
	
	%textWrapper{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px;
		width: 100%;
		box-sizing: border-box;
		
		@media( max-width: 768px ){
			padding: 15px;
		}
	}
	
	
	.siteorigin-widget-tinymce{ 
		@extend %textWrapper; 
		
		p{ @extend %smallParagraph;}
	}
	
	/* AKVO COVER WIDGET */
	.so-widget-akvo-cover .cover-overlay{
		padding: 0;
		
		.cover-overlay-text{ @extend %textWrapper; }
		
		/* FOR SMALL SCREEN SIZE - STACK CHILD ELEMENTS */
		@media( max-width: 768px ){
			position: relative;
		}
		
	}
	
	
	
	/* LANGUAGE TOGGLE */
	.lang-list a[href].active, .lang-list a[href]:hover{ background: rgba(#000, 0.2); }
		
	h3{
		color: inherit;
		margin: 0;
		font-weight: bold;
		@extend %paragraph;
	}
	
	
	
	/* IFRAME ROW */
	.iframe-row{
		position: relative;
		p, iframe{ margin: 0; line-height: 0;}
		
		/* CAPTION IN THE IFRAME */
		.caption{ 
			bottom: 0; 
			position: absolute;
			background: rgba(#000, 0.6);
			color: #fff;
			width: 100%;
			padding: 0;
			
		}
	}
		
	/* TESTIMONIAL WIDGET */
	.testimonial-widget{
		max-width: 900px;
		padding: 10px;
		z-index: 0;
		position: relative;
				
		.testimonial-widget-image, .testimonial-text, .testimonial-title{
			z-index: 2;
			position: relative;
			margin: 40px auto;
		}
			
		.testimonial-widget-image{
			max-height: 200px;
			overflow: hidden;
		}
			
		.testimonial-title{
			margin-bottom: 0;
			padding-bottom: 40px;
			@extend %smallParagraph;
		}
			
		/* QUOTE IMAGES */	
		&::before, &::after{
			position: absolute;
			top: 100px;
			left: 0%;
			width: 200px;
			height: 200px;
			content: " ";
			background-image: url('../images/quote_mark_start.png');
			background-position: center;
			background-size: cover;
			z-index: 1;
		}
		
		&::after{
			bottom: -10px;
			right: 0%;
			top: auto;
			left: auto;
			background-image: url('../images/quote_mark_end.png');
		}
		
			
		@media( max-width: 768px ){
			&::before, &::after{
				width: 150px;
				height: 150px;
			}
			&::before{
				top: 150px;
			}
		}
		/* QUOTE IMAGES */	
			
	}
	/* END OF TESTIMONIAL WIDGET */
}