/* FILTERS FOR TEAM AND PARTNERS PAGE */
.nested-filters{
	
	h1.backLined{
		color:#000;
		font-weight:bold;
	}
	
	/* FILTER CONTAINERS */
	nav.anchorNav, nav.anchorNav2{ padding:15px 0px; background:none!important; box-sizing: border-box;}
	
	nav.anchorNav ul li{
		padding: 0;
		
		a[href]{ padding: 0.25em 0.75em; }
	}
	
	/* PRIMARY FILTER */
	ul li.location{
		a {
			color:#202024!important;
			border-radius:0px!important;
		}
		
		a:hover, a.active {
			color:#202024!important;
			background:#f0f0f0!important;
			box-shadow:none!important;
		}
		
	}
	
	/* SECONDARY FILTER */
	ul li.group{ 
		background: none;
		
		a {
			color:#797979!important;
			border-radius:0px!important;
		}
		a:hover, a.active {
			color:#797979!important;
			background:#f0f0f0!important;
			box-shadow:none!important;
		}
	}
	
	ul.staff {
		padding:0px!important;
		width:100%!important;
		
		li{
			width	: 29%;
			padding	: 2%;
			margin	: 0;
			
			div.imgWrapper{
				background	: #fff;
				padding		: 0px;
				width		: 100%;
				max-height	: 217px;
				overflow	: hidden;
				
				img, img:hover{
					opacity: 1;
					cursor: auto; 
				}
				
			}
		}
		
		&.new_staffs li:nth-child(3n+1){clear:left;}
		
		&.new_partners{
			padding:0px!important;
			width:100%!important;
			
			li {
				width		: 16%;
				padding		: 2%;
				margin		: 0;
				min-height	: auto;
				
				.staffName{text-align:center!important;}
				
				img {
					-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
					filter: grayscale(100%);
				}
				
				&:hover{
					background: none;
				}
				
				&:hover img {
					-webkit-filter: none!important; /* Safari 6.0 - 9.0 */
					filter: none!important;
				}
				
				&:nth-child(5n+1){clear:left;}
			}
			
		}
		
		&.microstory{
			
			a[href]{ color:inherit; }
			
			.staffName{
				font-size: 0.95em;
			}
			
			.featured{
				background: #3792b3!important;
				
				.staffName{ color: #fff; }
			}
			
			.imgWrapper{
				position: relative;
				background-size: cover;
				background-position: center center;
				height: 250px;
				
				/*
				.excerpt{
					display: none;
					box-sizing: border-box;
					padding: 10px;
					background: rgba(0, 0, 0, 0.7);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white;
					text-align: center;
					margin: 0;
					width: 100%;
					
					p{ text-align: center; margin: 0;}
				}
				
				&:hover .excerpt{
					display:block;
				}
				*/
			}
			
			.hovercontent {opacity:0;padding:0px;display:block;top:22px;position:absolute;width:77%;}
			.featured .hovercontent {color:#fff!important;}
			
			@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
			@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
			@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

			@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
			@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
			@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

			
			li:hover .imgWrapper {
				opacity:0;  /* make things invisible upon start */
				-webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
				-moz-animation:fadeOut ease-in 1;
				animation:fadeOut ease-in 1;

				-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
				-moz-animation-fill-mode:forwards;
				animation-fill-mode:forwards;

				-webkit-animation-duration:1s;
				-moz-animation-duration:1s;
				animation-duration:1s;
			}
			
			li:hover .hovercontent {
				opacity:0;  /* make things invisible upon start */
				-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
				-moz-animation:fadeIn ease-in 1;
				animation:fadeIn ease-in 1;

				-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
				-moz-animation-fill-mode:forwards;
				animation-fill-mode:forwards;

				-webkit-animation-duration:1s;
				-moz-animation-duration:1s;
				animation-duration:1s;
			}
			
			
			
			.hovercontent p, .hovercontent strong, .hovercontent a {font-style: italic!important;}
			
		}
		
	}
	
	@media screen and ( max-width: 1024px ) and ( min-width: 768px ){
		ul.staff {
			
			li div.imgWrapper{ max-height:350px; }
			
			&.new_staffs{ 
				li { width:46%; }
				li:nth-child(3n+1){clear:none;}
				li:nth-child(2n+1){clear:left;}
			}
			
			&.new_partners{ 
				li { width:29%;}
				li:nth-child(5n+1){clear:none;}
				li:nth-child(3n+1){clear:left;}
			}
			
			&.microstory{
				li div.imgWrapper {max-height:350px;}
				li:nth-child(3n+1){clear:none;}
				li:nth-child(2n+1){clear:left;}

			}
		}
	}
	@media screen and ( max-width: 768px ){
		
		nav.anchorNav ul li, nav.anchorNav2 ul li{ background:none!important;display:inline-block!important;padding:10px!important;} 
		
		nav.anchorNav ul li a, nav.anchorNav2 ul li a {font-size:16px!important;}
		
		ul.mobilehidesorting {display:none;}
		
		ul.staff{ 
			li div.imgWrapper {max-height:350px;}
			
			&.new_staffs li{width:96%;} 
			
			&.new_partners{
				li {width:46%;}
				li:nth-child(2n+1){clear:left;}
			}
			
			&.microstory li{
				width:96%;
				div.imgWrapper {max-height:350px;}
			}

		}
		
		
		
	}
	
	@media screen and ( max-width: 400px ){
		ul.staff.new_partners li {width:97%;}
		ul.staff.new_partners li:nth-child(2n+1){clear:none;}
	}
}

/* MAP MARKERS - CONTACT INFO PAGE */
.map-markers{
	position			: relative;
	padding-bottom		: 49%;
	width				: 100%;
	background-repeat	: no-repeat;
	background-position : center;
	background-size		: 91%;
	
	a[href]{
		position :absolute;
		
		@media screen and ( max-width: 768px ){
			display: none;
		}
	}
	
	
}