# Files to ignore globally
.DS_Store
.sass-cache
dwsync.xml
*.css.map
*.scssc

# Configurable files
code/nginx.conf
code/php5.ini
code/robots.txt
code/sitemap.xml
code/wp-config*

# Media
code/wp-content/uploads

# Temporary files & directories
code/wp-content/cache
code/wp-content/plugins/global-admin-bar-hide-or-remove/error_log.txt
code/wp-content/plugins/json-data/cache
code/wp-content/plugins/wp-piwik/update
code/wp-content/upgrade

# Development related plug-ins
code/wp-content/plugins/duplicator
code/wp-snapshots

code/.htaccess

*.orig

code/.htaccess

code/.htaccess

code/.htaccess
