/*----------------------------------------------------------------------
                                Footer
-----------------------------------------------------------------------*/


footer{
	.menu-footer-menu-container {
    	background: $darkPurple;
	}

	#menu-footer-menu {
    	width: 100%;
    	display: flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	justify-content: space-around;
	}
	
	
	.menu {
    	margin: 0em auto;
    	max-width: 1208px;
    	position: relative;
    	padding: 10px 0;
	}
	

	
	.menu > li {
    	padding: 0em 0em 0em 1.5%;
	    display:inline;
    	a {
        	color:white;
	        &.problem {
    	        color: rgb(227, 27, 35);
        	}
	    }
	   &.problem {
    		a {
        		color: rgb(227, 27, 35) !important;
	        }
    	}
	}
	
	@include responsive(small-max-screens) {
		
		#menu-footer-menu {
        	margin-top: 20px;
        	width: 96%;
        	
    	}
		
	    .menu {
    	    margin: 0px 15px;
	        display: block;
        	width: 100%;
    	}
    	
    	.menu > li {
	        margin: 5px 0px;
        	width: 100%;
    	    padding: 0em 0em 0em 0;
    	    
    	}
	}
	
	&.bottomPage {
    	background: rgb(252, 252, 252);
	    border-top: 1px solid rgb(235, 235, 235);
    	margin: 3em auto 0em;
	    padding: 0em;
    	position: relative;
	    width: 100%;
    
		h1 {
    		font-size: 2em;
		}
	
		section#siteMap {
    		padding: 50px 0em 3em;
	    	position: relative;
	    	background:white;
	    	h3 {
			    color: #202024;
			    margin: 0em 0em 0.5em;
			    text-align: left;
			    @include noWrapTxt;
			}
	    	h3:nth-of-type(2n) {
    			margin: 0.5em 0em 0.25em;
			}
			
			div.socialAkvo {
    			min-height: 100px;
			    position: relative;
			    margin: 15px auto;
			    
			    h1.backLinedGrey {
    				margin: -10px auto 0em auto;
			    	text-align: center;
				    width: 80%;
				    color:$darkPurple;
				}
				.backLinedGrey span {
			 	   background: transparent;
				}    
				
				/*
				div.newsLetter {
				    display: block;
				    margin: 30px auto 15px;
				    position: relative;
				    background: rgb(241, 241, 241);
				    padding: 25px 0;
				    overflow: auto;
				    & > div {
				        width: 45%;
				        margin: 0px auto;
				    }
				    
				    .gform_description {
    					display: block;
					    margin-bottom: 10px;
					}
				}
				*/
				
				
			}

			
			
		}

		@include responsive(small-max-screens) {
		    section#siteMap {
        		padding: 0px 0px 30px;
        		
        		h1 {
     			   font-size: 2em;
    			}	
        		h3 {
    			    font-size: 2em;
		        	margin: 25px auto 10px auto;
		    	}
		    	
		    	div.socialAkvo {
    			    float: none;
			        margin: 20px auto 10px;
			        width: 100%;
			        
			        /*
			        div.newsLetter {
        				& > div {
				            width: 100%;
				            margin: 0px auto;
				        }
				        
				        .subscribe {
     						text-align: center;
					    }
					    
					    form {
        					@include box-sizing(border-box);
				        	float: left;
					        margin: 0px;
					        margin-top: -10px;
						    padding: 0px 10px;
					        width: 100%;	
    					}
					    p.intro {
        					padding: 0em;
					        text-align: center;
						    width: 100%;
    					}
				    }
			        */
			        
			        
				}
    		}
    		
    		
    		
		}
	}
}


/* NEWSLETTER HAS BEEN REMOVED FROM THE FOOTER



footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body {
    float: left;
    width: 80%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body {
        width: 100%;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body ul li {
    float: left;
    width: 50%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body ul li {
        width: 100%;
    }
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body ul li input {
        width: 100%;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body ul li:nth-of-type(odd) {
    margin-right: 1%;
    width: 49%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_body ul li:nth-of-type(odd) {
        margin-bottom: 5px;
        margin-right: 0em;
        width: 100%;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_footer {
    float: left;
    margin-left: 2%;
    width: 18%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter .gform_footer {
        margin-left: 0em;
        margin-top: 10px;
        width: 100%;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter label {
    color: #202024;
    display: none;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter label {
        font-size: 1.2em;
        margin-top: 10px;
        text-align: center;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter input {
    @include box-shadow(none);
    @include box-sizing(border-box);
    border: 1px solid #dedcdc;
    display: inline-block;
    font-size: 0.8em;
    padding: 0.75em 0.5em;
    width: 100%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter input {
        @include box-sizing(border-box);
        display: block;
        font-size: 1.2em;
        margin: 5px auto 0em;
        padding: 20px 0.5em;
        width: 100%;
    }
}


@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter input:focus {
        width: 92%;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter p.sml_name input,
footer.bottomPage section#siteMap div.socialAkvo div.newsLetter p.sml_email input {
    display: inline;
    float: left;
    margin: 0em;
    padding: 0.8em;
    position: relative;
}

p.sml_submit input {
    float: right;
    margin-top: 0em;
    width: 17.8%;
}

@include responsive(small-max-screens) {
    p.sml_submit input {
        float: left;
        width: 100% !important;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter p.sml_name input {
    width: 28%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter p.sml_name input {
        margin-bottom: 10px;
        width: 100%;
    }
}


footer.bottomPage section#siteMap div.socialAkvo div.newsLetter p.sml_email input {
    margin: 0em 0em 0em 0.5%;
    width: 36.5%;
}

@include responsive(small-max-screens) {
    footer.bottomPage section#siteMap div.socialAkvo div.newsLetter p.sml_email input {
        margin-bottom: 10px;
        width: 100%;
    }
}
*/

footer.bottomPage{
	
	section#siteMap div.socialAkvo {
		nav.socialLinks {
    		margin: 0em auto;
	    	position: relative;
	    	width: 100%;
    	
    		li{
    			display: inline;
    			float: left;
			    height: 85px;
			    text-align: center;
			    width: 12.5%;
		    	@include responsive(small-max-screens) {
        			width: 25%;
	    		}
    		
    			a{
    				@include transition(opacity 0.2s linear);
				    display: block;
			    	float: left;
					height: 100%;
				    opacity: 0.5;
				    text-indent: -9999px;
				    width: 100%;
	    		}
    		
    			a:hover {
 				   opacity: 1;
				}
			
				&.twitter a {
 				   background: url("../images/socialTwitter.png") center center no-repeat;
				}
				&.github a {
	 			   background: url("../images/socialGithub.png") center center no-repeat;
				}

				&.facebook a {
				    background: url("../images/socialFacebook.png") center center no-repeat;
				}

				&.flickr a {
				    background: url("../images/socialFlickr.png") center center no-repeat;
				}

				&.youtube a {
			    	background: url("../images/socialYoutube.png") center center no-repeat;
				}

				&.rss a {
				    background: url("../images/socialRss.png") center center no-repeat;
				}
			
				&.email a {
 				   background: url("../images/socialEmail.png") center center no-repeat;
				}

				&.contactInfo a {
			    	background: url("../images/socialContact.png") center center no-repeat;
				}
				&.newsLetters a {
				    background: url("../images/socialNewsletter.png") center center no-repeat;
				}
			}
			
    	}
	}
	section#aboutAkvo {
    	background: #202024;
	    color: #b9b9b9;
    	margin: 0em auto 50px auto;
	    padding: 20px 0em 25px;
    	position: relative;
	    width: 100%;
    
    	div h1 {
	 	   margin: 0em 0em 0em 5px;
		}
    
	    div p {
 		   font-weight: normal;
    		margin: 0.25em 0em 0em 5px;
		}
    
		@include responsive(small-max-screens) {
			margin-bottom: 20px;
			p {
        		font-size: 1em;
	        	line-height: 1.4em;
	    	    width: 95%;
    		}
	    	div p {
    	 		font-size: 1.1em;
        		margin: 10px 0em 15px;
	        	padding: 0 1.5%;
	    	    width: 97%;
		    }
		}
	}
	
	small{
	    color: #7c7c7c;
    	display: block;
	    font-size: 0.8em;
    	font-weight: normal;
	    margin: 0em auto;
    	padding: 0.5em 0em;
	    position: relative;
    	text-align: center;
	    width: 100%;
	}
	small:before {
    	border-bottom: 1px solid #565656;
	    border-top: 1px solid #000;
    	content: "";
	    display: block;
    	margin: 0em auto 0.5em auto;
	    width: 100%;
	}  
	
}		

/*---------------------------------------------
                  Back to top
--------------------------------------------- */
#back-top {
    bottom: 0px;
    position: fixed;
    right: 5px;
    
    a {
    	@include box-shadow(0em 1px rgb(245, 245, 245));
	    -moz-transition: 1s;
    	-o-transition: 1s;
	    -webkit-transition: 1s;
    	color: rgb(32, 32, 36);
	    display: block;
    	font-family: $bodyFont;
	    font-size: 0.71em;
    	text-align: center;
	    text-decoration: none;
    	text-transform: uppercase;
	    transition: 1s;
    	width: 80px;
	}
	
	a:hover {
 	   color: $akvoLink;
 	   
 	   span {
 		   background-color: $akvoLink;
		}
	}
    
    span {
	    @include box-shadow(1px 1px 0em rgb(255, 255, 255));
	    -moz-transition: 1s;
	    -o-transition: 1s;
	    -webkit-transition: 1s;
	    background: rgb(32, 32, 36) url("../images/up-arrow.png") no-repeat center center;
	    display: block;
	    height: 28px;
	    margin: 0em auto;
	    transition: 1s;
	    width: 28px;
	    @include border-radius(0.2em);
	}
    
    @include responsive(small-max-screens) {
    	bottom: inherit;
        height: 20px;
        margin: 10px auto;
        position: relative;
        right: inherit;
        width: 98%;
    	
    	a {
    	    font-size: 1.5em;
        	width: 100%;
	    }
    	
    	span {
    	    @include border-radius(0.5em);
        	height: 80px;
	        margin: 0em auto 4px auto;
    	    width: 80px;
	        background-size: 50%;
    	}
    	
    	
	}
    
    
}


a.helpIcon {
	@include transition(opacity 0.4s ease-in);
    background: url("../images/helpIcon.png") center top no-repeat;
    display: inline-block;
    height: 26px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 5px;
    width: 26px;

	@include responsive(small-max-screens) {
		display: none;
    }
}
a.helpIcon:hover {
    opacity: 1;
}

#tooltip {
    @include box-shadow(0em 0em 2px rgb(0, 0, 0));
    background: rgb(255, 255, 165);
    @include border-radius(0.25em);
    display: none;
    font-size: 1.2em;
    line-height: 1.3em;
    max-width: 25%;
    padding: 0.5em;
    position: absolute;
    top: 0em;
}













