/*
Error: Invalid CSS after "    color: ": expected expression (e.g. 1px, bold), was ";"
        on line 3748 of main.scss

3743:     width: 75%;
3744: }
3745: #flowFeatures img {
3746:     display: block;
3747:     margin: 1em auto;
3748:     color: ;
3749: }
3750: 
3751: 
3752: section.productImage {
3753:     padding: 2em 0;

Backtrace:
main.scss:3748
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1163:in `expected'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/script/lexer.rb:220:in `expected!'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/script/parser.rb:572:in `assert_expr'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/script/parser.rb:62:in `parse'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1025:in `sass_script'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:878:in `value!'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `call'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:1139:in `rethrow'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:661:in `block_child'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:642:in `block'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/scss/parser.rb:42:in `parse'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:393:in `_to_tree'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/Dan/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    color: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 3748 of main.scss\A \A 3743:     width: 75%;\A 3744: }\A 3745: #flowFeatures img {\A 3746:     display: block;\A 3747:     margin: 1em auto;\A 3748:     color: ;\A 3749: }\A 3750: \A 3751: \A 3752: section.productImage {\A 3753:     padding: 2em 0;"; }
