/*---------------------------------------------------------------------------------

        Title:          Akvo.org Styles for Desktop, mobile, tablet
        Author:         Loic Sans, loic@akvo.org
		Edited:			Samuel Thomas, samuel@akvo.org

/*---------------------------------------------------------------------------------*/

@import "library";

@import "helpers";

@import "default";

@import "layouts/headings";

@import "layouts/misc";

@import "layouts/links";

@import "layouts/forms";

@import "layouts/structure";

@import "layouts/header";

@import "layouts/breadcrumbs";

@import "layouts/homepage-old";

@import "layouts/faq";

@import "layouts/looking-for-more";

@import "layouts/blog";

@import "layouts/sidebar";

@import "layouts/contact-info";

@import "layouts/team";

@import "layouts/media";

@import "layouts/help";

@import "layouts/network";

@import "layouts/product-roadmap";

@import "layouts/product-akvopedia";

@import "layouts/annual-report";

@import "layouts/foundation";

@import "layouts/iati";

@import "layouts/nutshell";

@import "layouts/homepage-2015";

@import "layouts/events-calendar";

@import "layouts/product-page";

@import "layouts/footer";

@import "layouts/media-press";

@import "layouts/mixins";

/* NEW BLACK TEMPLATE */
.fullBlack {
	
	@import "black-layouts/common";
	
	@import "black-layouts/homepage";
	
	@import "black-layouts/funnel";
	
	@import "black-layouts/regional";
	
	@import "black-layouts/microstory";
	
}
