/*************************************************************
                        Product Pages
*************************************************************/

.rsr #mainbody,
.akvoflow #mainbody,
.akvoopenaid #mainbody {
    background: rgb(255, 255, 255);
}

.productPage section.productDescr,
.productPage section.figure {
    border-top: none;
}

nav.anchorNav, nav.anchorNav2 {
    background: rgba(44, 42, 116, 0.1);
    border-bottom: thin solid rgb(232, 232, 232);
    border-top: thin solid rgb(232, 232, 232);
    margin: 30px auto;
    padding: 15px 1%;
    width: 98%;
}

@include responsive(small-max-screens) {
    nav.anchorNav, nav.anchorNav2 {
        background: #f8f8f8;
        position: relative;
    }
}


nav.anchorNav2 {
    background: none;
    border-bottom: none;
    border-top: none;
    margin: 30px auto;
    padding: 15px 1%;
    width: 98%;
}

.rsr nav.anchorNav {
    background: rgba(87, 193, 232, 0.1);
}

.akvoflow nav.anchorNav {
    background: rgba(252, 159, 0, 0.1);
}

.akvoopenaid nav.anchorNav {
    background: rgba(255, 206, 0, 0.1);
}

.akvopedia nav.anchorNav {
    background: rgba(190, 73, 155, 0.1);
}

.team nav.anchorNav {
    margin-bottom: 10px;
}

.mShownCollapse {
    display: none;
}

nav.anchorNav h5 {
    color: rgb(255, 255, 255);
    display: none;
    text-transform: uppercase;
}

p.mLabel {
    color: rgba(222, 137, 41, 0.8);
    /*color:    rgb(102,102,102);
                    color:    rgb(0,0,0);*/
    font-size: 0.6em;
    text-transform: uppercase;
}

.teamPage p.mLabel {
    margin-bottom: 15px;
}

nav.anchorNav ul, nav.anchorNav2 ul {
    margin: 0em auto;
    position: relative;
    text-align: center;
}

@include responsive(small-max-screens) {
    nav.anchorNav ul, nav.anchorNav2 ul {
        width: 100%;
    }
}


nav.anchorNav ul li, nav.anchorNav2 ul li {
    background: url("../images/productNavSep.png") left center no-repeat;
    display: inline;
    margin: 0em;
    padding: 0em 0.5em;
}

@include responsive(small-max-screens) {
    nav.anchorNav ul li, nav.anchorNav2 ul li {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwZDRlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OGJhY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
        display: block;
        margin: 0em auto 5px auto;
        padding: 10px 5px;
    }
}


.all-rsr-project-updates nav.anchorNav2 ul li {
    background: none;
}

@include responsive(small-max-screens) {
    nav.anchorNav ul li:hover a, nav.anchorNav2 ul li:hover a {
        background: none;
        color: #3792b3;
    }
}


nav.anchorNav ul li:first-child {
    background: none;
}

@include responsive(small-max-screens) {
    nav.anchorNav ul li:first-child {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwZDRlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OGJhY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    }
}


nav.anchorNav ul li a, nav.anchorNav2 ul li a {
    @include border-radius(0.1em);
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    background: transparent;
    color: $akvoPurple;
    font-size: 1em;
    font-weight: bold;
    padding: 0.25em 0.5em;
    transition: background 0.2s linear;
}

nav.anchorNav2 ul li a {
    background: transparent;
    font-weight: normal;
}

@include responsive(small-max-screens) {
    nav.anchorNav ul li a, nav.anchorNav2 ul li a {
        @include border-radius(0.2em);
        background: transparent;
        color: #fff;
        display: block;
        font-size: 1.5em;
        line-height: 1.1em;
        padding: 0.35em 0.5em;
    }
}


nav.anchorNav ul li a:hover, nav.anchorNav2 ul li a:hover {
    background-color: rgba(44, 42, 116, 0.6);
    box-shadow: 1px 2px 0em rgb(223, 223, 223);
    color: rgb(255, 255, 255);
}

.rsrProdPag nav.anchorNav ul li a:hover {
    background: rgba(87, 193, 232, 0.5);
    color: rgb(44, 110, 128);
}

.flowProdPag nav.anchorNav ul li a:hover {
    background: rgba(252, 159, 0, 0.5);
    color: rgb(255, 255, 255);
}

.openaidProdPag nav.anchorNav ul li a:hover {
    background: rgba(255, 206, 0, 0.5);
    color: rgb(32, 32, 36);
}

.board {
    text-align: center;
}

.productPage section {
    margin: 0em auto;
    /*
    padding: 0.5em 1em;*/
    &.pricingHero {
        margin: 40px auto;
    }
}

@include responsive(small-max-screens) {
    .productPage section {
        padding: 0em;
    }
}


.productPage section h1 {
    margin: 0.25em auto 1em auto;
    text-align: center;
}

.productPage section h1:before {
    content: "";
    display: block;
    width: 50%;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0em, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0em, rgba(255, 255, 255, 0) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(219, 219, 219, 1) 0em, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(219, 219, 219, 1) 0em, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    border: 0em none;
    height: 1px;
    margin: 30px auto;
}

.productPage section:target {
    @include transition(background 0.5s ease-in);
    background: rgb(242, 242, 242);
}

.productPage section:target h1 {
    @include transition(color 0.5s ease-in);
    color: rgb(222, 137, 41);
}

.productPage section:target .backLined span {
    @include transition(background 0.5s ease-in);
    background: rgb(242, 242, 242);
    padding: 5px 10px;
}

.whoUseIt {
    ul.twoColumns li a {
        margin: 0 auto;
        text-align: center;
    }
}

/* ------------------------------------------------------- RSR ------------------------------------------------------- */
.productPage section.figure {
    padding: 0;
}

@include responsive(small-max-screens) {
    .productPage section.figure {
        display: none;
    }
    .productPage section.figure img {
        display: none;
    }
    .productPage.rsrProdPag {
        /*
        section {
            padding-top: 1em;
            padding-bottom: 1em;
        }
        */
        section.figure {
            display: block;
            img {
                display: block;
            }
        }
    }
}


.rsrProdPag {
    h2 {
        margin-bottom: 3em;
    }
}

.rsr .productPage section.figure {
    background: url("../images/chruch.png") repeat;
}

.akvoflow .productPage section.figure {
    background: url("../images/background-banner.jpg") repeat;
}

.akvopedia .productPage section.figure {
    background: url("../images/akvopedia_bg.jpg") repeat;
}

.figure {
    background: rgb(32, 32, 36);
}

.akvopediaProdPag .figure {
    background: rgb(232, 232, 236);
}

.akvoopenaid .figure {
    background: rgb(242, 242, 246);
}

.figure img {
    display: block;
    margin: 0em auto;
    width: 100%;
    max-width: 1208px;
}

.figure.fullWidthImg img {
    max-width: none;
}

.productDescr.rsr {
    background: whitesmoke;
}

section.rsrNuggetsSection {
    h3.nuggetTitle {
        display: inline-block;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    li {
        &:nth-child(odd) {
            img {
                float: right;
                padding-right: 0;
            }
        }
        &:nth-child(even) {
            img {
                float: left;
                padding-left: 0;
            }
        }
    }
}

.soloImage {
    padding: 3em 2%;
    width: 96%;
    max-width: 1000px;
}

li.rarNuggets:after {
    clear: both;
}

@include responsive(small-max-screens) {
    .figure img {
        height: auto;
        max-width: 100%;
    }
}


.figure .figcaption {
    font-family: $titleFont;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1em;
    margin: 0em auto;
    padding: 10px 15px;
    position: absolute;
    text-align: center;
    text-transform: none;
    width: 75%;
    /* text-shadow:    1px 1px 2px rgb(103,103,103);
                    text-shadow:    1px 1px 2px rgba(0,0,0,0.7);
                    color:     rgb(222, 137, 41);
                    */
    color: rgb(100, 100, 100);
    z-index: 999999;
}

section.inFivePoints ol {
    list-style-type: decimal;
}

section.inFivePoints li {
    background: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(255, 255, 255);
    display: block;
    height: auto;
    margin: 0em auto;
    padding: 4em 2% 0em 2%;
    position: relative;
    width: 96%;
}

@include responsive(small-max-screens) {
    section.inFivePoints li {
        padding: 1em 2% 0em;
    }
}


.rsrProdPag section.inFivePoints li.pointThree,
.rsrProdPag section.inFivePoints li.pointFour {
    border-bottom: none;
    border-top: none;
}

.rsrProdPag section.inFivePoints li:last-child {
    border-top: none;
    padding: 0.25em 2% 0em;
}

section.inFivePoints li:first-child {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: none;
}

section.inFivePoints li:last-child {
    border-top: 1px solid rgb(255, 255, 255);
}

section.inFivePoints li img {
    bottom: 0em;
    position: relative;
    width: 50%;
}

@include responsive(small-max-screens) {
    section.inFivePoints li img {
        width: 100%;
    }
}


.rsrProdPag section.inFivePoints li.pointOne img {
    margin: 2% 0em 0em 0em;
}

.rsrProdPag section.inFivePoints li.pointTwo img {
    margin: 6% 0em 0em 0em;
}

.rsrProdPag section.inFivePoints li.pointThree img {
    margin: 5% 0em 0em 0em;
}

.rsrProdPag section.inFivePoints li.pointFour img {
    margin: 4% 0em 0em 0em;
}

section.rsrNuggetsSection ol {
    list-style-type: decimal;
}

section.rsrNuggetsSection {
    li {
        background: rgb(245, 245, 245);
        display: block;
        height: auto;
        margin: 0em auto;
        padding: 4em 4% 0em 4%;
        position: relative;
        width: 92%;
        &.supportingYourTeam {
            background: rgb(255, 255, 255);
        }
        img {
            bottom: 0em;
            position: relative;
            width: 44%;
            padding: 1em 6% 1em 6%;
        }
    }
    @include responsive(small-max-screens) {
        li {
            padding: 1em 2% 0em 2%;
            width: inherit;
            img {
                position: relative;
                padding: 1em 0;
            }
        }
    }

    p.nuggetDescription.nuggetAside {
        display: inline-block;
        max-width: 50%;
    }
    @media only screen and (max-width: 768px) {
        p.nuggetDescription.nuggetAside {
            display: block;
            max-width: 100%;
        }
        h3.nuggetTitle.nuggetAside {
            display: block;
            width: 100%;
        }
    }
    @include responsive(small-max-screens) {
        p.nuggetDescription.nuggetAside {
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

li.rsrNuggets {
    &.floats-in {
        padding-top: 5em;
        &:first-child {
            padding-top: 3.5em;
        }
        &:nth-last-child(2),
        &:last-child {
            padding-bottom: 2.5em;
        }
    }
    @include responsive(small-max-screens) {
        .floats-in {
            padding-top: 2em;
            &:first-child {
                padding-top: 1.5em;
            }
            &:nth-last-child(2),
            &:last-child {
                padding-bottom: 1.5em;
            }
        }
    }
}

.akvopedia #akvopediaInFour li img {
    max-width: 200px;
    width: 100%;
}

.akvopedia #akvopediaInFour li > a:hover img {
    border-radius: 1em;
    box-shadow: 2px 2px 0em rgba(223, 49, 201, 0.8), -2px -2px 0em rgba(223, 49, 201, 0.8);
}

.pedia4points {
    margin: 2em auto;
    max-width: 800px;
    &.sixColumns {
        margin: 0em auto;
        width: 100%;
    }
    @include responsive(small-max-screens) {
        &.sixColumns.wrapper {
            padding: 0em;
        }
    }

    &.sixColumns > div,
    &.sixColumns > li {
        @include border-radius(0.25em);
        float: left;
        margin: 0em 0.15%;
        min-height: 200px;
        padding: 0.2em 0.25% 0.25em 0.25%;
        position: relative;
        width: 15.8%;
    }
    @include responsive(small-screens) {
        &.sixColumns > div,
        &.sixColumns > li {
            float: left;
            margin-left: 0;
            margin: 30px auto;
            padding: 1%;
            width: 31%;
        }
    }

    @include responsive(small-max-screens) {
        &.sixColumns div,
        &.sixColumns > li {
            float: left;
            margin-left: 0;
            margin: 30px auto;
            padding: 1%;
            width: 47.75%;
        }
    }

    @media screen and (max-width: 360px) {
        &.sixColumns div,
        &.sixColumns > li {
            margin: 30px auto;
            padding: 1%;
            width: 98%;
        }
    }
}

.pedia4points h3 {
    font-size: 1.7em;
}

section.inFivePoints li div {
    float: right;
    position: relative;
    width: 48%;
}

@include responsive(small-max-screens) {
    section.inFivePoints li div {
        @include box-sizing(border-box);
        padding: 0px 10px;
        width: 100%;
    }
}


section.inFivePoints li p {
    padding: 1.5em 0em 0em;
    text-shadow: 0em 1px rgb(255, 255, 255);
}

section.inFivePoints li:nth-child(2n+1) {
    /* background:     rgb(182,182,182); */
}

section.inFivePoints li:nth-child(2n) img {
    float: right;
}

section.inFivePoints li:nth-child(2n) div {
    float: left;
}

section.rsrNuggetsSection {
    @include responsive(small-max-screens) {
        h3.nuggetTitle {
            padding-bottom: 0.6em;
            text-align: center;
        }
        p.nuggetDescription {
            text-align: justify;
        }
        li img {
            width: 100%;
        }
    }

    li {
        div {
            float: right;
            position: relative;
            width: 48%;
        }
        @include responsive(small-max-screens) {
            div {
                @include box-sizing(border-box);
                padding: 0px 10px;
                width: 100%;
            }
        }

        p {
            padding: 1.5em 0em 0em;
            text-shadow: 0em 1px rgb(255, 255, 255);
        }
    }
}

.productPage h3 {
    color: $akvoPurple;
    margin: 0.25em auto 1em auto;
    padding: 0em;
    text-align: center;
    text-shadow: 0em 1px rgb(255, 255, 255);
}

@include responsive(small-max-screens) {
    .productPage h3 {
        margin: 0em auto;
        padding: 0em;
    }
}


.productDescr h3 {
    margin: 1.25em auto 1em;
    text-align: center;
    width: 80%;
}

.rsrProdPag {
    .productDescr h3 {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        padding: 1.25em 0 1em 0;
    }
}

.productPage img + h3 {
    margin: 1.25em auto 1em;
}

.productPage p {
    margin-bottom: 15px;
}

.productPage .productDescr p {}

#flowIntro p {}

.splitImg ol.threeFlowPoints {
    width: 45%;
}

section.inFivePoints li h3,
section.rsrNuggetsSection li h3 {
    padding-bottom: 2em;
    position: relative;
    text-align: center;
}

section.rsrNuggetsSection li h3 {
    text-align: left;
}

.rsrProdPag {
    section.rsrDownloads {
        background: whitesmoke;
    }
}

@include responsive(small-max-screens) {
    section.inFivePoints li h3,
    section.rsrNuggetsSection li h3 {
        padding-bottom: 10px;
    }
}


.inFivePoints li span {
    margin: 0em 0.25em 0em 0em;
}

.productPage hgroup h1 {
    display: block;
    height: 45px;
    margin: 35px 0em 25px;
    padding: 0em;
    text-indent: -99999px;
}

.rsrProdPag hgroup h1 {
    background: url("../images/rsr60px.png") center center no-repeat;
}

.rsrUpProdPag hgroup h1 {
    height: 55px;
    background: url("../images/rsrUp60px.png") center center no-repeat;
}

.akvoSitesProdPag hgroup h1 {
    height: 55px;
    background: url("../images/akvosites/akvosites_logo_yellow_400x75px.png") center center no-repeat;
    background-size: auto 40px;
}

.flowProdPag {
    .videoContainer {
        display: none;
        .vimeoBlockedMessage {
            display: none;
            text-align: center;
        }
        div.videoContainer {
            width: 1000px;
            max-width: 90%;
            margin: 0 auto;
        }
    }
}

.pricingPage {
    position: relative;
    .engageBtn {
        position: absolute;
        right: 50px;
        @include responsive(medium-max-screens) {
            right: 100px;
        }

        @include responsive(medium-max-screens) {
            right: 10px;
        }

        @include responsive(small-max-screens) {
            right: 10px;
        }

        a {
            display: block;
            background: red;
            padding: 10px 15px;
            color: white;
            @include border-radius(5px);
            &:hover {
                background: darken(red, 20%);
            }
        }
    }
    hgroup h1 {
        background: url("../images/pricing/akvo_org-350px.png") center center no-repeat;
        background-size: auto 45px;
    }
    .pricingHero {
        margin: 20px auto;
    }
    .flowPricing {
        .flowLogo {
            display: block;
            height: 45px;
            margin: 35px 0em 25px;
            padding: 0em;
            background: url("../images/pricing/akvo_flow-350px.png") center center no-repeat;
            background-size: auto 45px;
        }
        .twoColumns {
            display: inline-block;
        }
    }
    .othersPricing {
        .rsrLogo {
            display: block;
            height: 45px;
            padding: 0em;
            background: url("../images/pricing/akvo_rsr-350px.png") center center no-repeat;
            background-size: auto 45px;
            margin-top: 40px;
        }
        .sitesLogo {
            display: block;
            height: 45px;
            padding: 0em;
            background: url("../images/pricing/akvo_sites-350px.png") center center no-repeat;
            background-size: auto 45px;
            margin-top: 40px;
        }
        .openaidLogo {
            display: block;
            height: 45px;
            padding: 0em;
            background: url("../images/pricing/akvo_openaid-350px.png") center center no-repeat;
            background-size: auto 45px;
            margin-top: 40px;
        }
    }
    .pricingHelp {
        h2 {
            margin: 40px auto;
        }
    }
}

.akvoIatiPag {
    hgroup {
        h1 {
            height: 55px;
            background: url("../images/Akvo_IATI_logo_RGB_final.png") center center no-repeat;
            background-size: auto 50px;
        }
    }
    .descrTwoCol {
        img {
            max-width: 60%;
            margin: 0 20%;
            text-align: center;
        }
    }
    .whoUseIt {
        padding: 20px 0;
    }
    .figure {
        background: none;
        > div {
            &.heroFormatContain {
                background-color: rgba(255, 211, 0, 0.1);
            }
        }
    }
}

.heroFormat {
    width: 100%;
    display: inline-block;
    margin: 0em auto !important;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroFormatContain {
    @extend .heroFormat;
    background-size: contain;
}

.flowProdPag hgroup h1,
.flowMonProdPag hgroup h1 {
    background: url("../images/flow60px.png") center center no-repeat;
}

.openaidProdPag hgroup h1 {
    background: url("../images/openaid60px.png") center center no-repeat;
}

.akvopediaProdPag hgroup h1 {
    background: url("../images/akvopedia60px.png") center center no-repeat;
}

.productPage hgroup h2 {
    font-size: 1.4em;
    text-align: center;
}

.rsrUpProdPag hgroup h2,
.flowMonProdPag hgroup h2 {
    font-size: 1.4em;
    text-align: center;
    margin: 1em auto 2em auto;
}

.rsrUpDescr p {
    margin: 3em auto;
}

#rsrTech {
    background: whitesmoke;
}

@include responsive(small-max-screens) {
    section#rsrTech p {
        text-align: justify;
    }
}


h2.rsrProductPage {
    margin: 1.25em 0 0.75em 0;
}

h2.rsrProductPage#download {
    margin-bottom: 1em;
}

section.whoUseIt {
    &#rsrRealWorld {
        h2 {
            margin-bottom: 1em;
        }
    }
}

@include responsive(small-max-screens) {
    h2.rsrProductPage#download,
    .rsrProdPag .twoPagerContainer > h2 {
        margin-bottom: 0.6em;
    }
    /* The language headers are misleading when manuals are displayed in
    ** a single column. Hide them on narrow viewports */
    .rsrProdPag .languageHeader {
        display: none;
    }
}


#rsrUpTech ul li, .techSpecs ul li {
    margin: 0.5em 0 1em 25px;
}

#rsrTech ul li {
    margin: 0em 0em 2em;
}

#rsrTech h3 {
    margin: 0em 0em 0.5em;
}

ol.threeFlowPoints {
    list-style: outside decimal;
    li {
        margin: 0em auto 1em auto;
        padding: 0em 1em;
        p {
            font-weight: 500;
        }
    }
}

.videoCenter blockquote {
    width: 75%;
}

#flowFeatures img {
    display: block;
    margin: 1em auto;
}

section.flowMonDescr {
    padding: 3em 0;
}

.flowMonProdPag section.productImage {
    padding: 2em 0;
    text-align: center;
    position: relative;
}

.flowMonProdPag .productImage img {
    max-width: 1600px;
    width: 100%;
}

.flowMonProdPag .productImage h3 {}

@include responsive(small-max-screens) {
    .flowMonProdPag .productImage h3 {
        margin-bottom: 0.5em;
    }
}


.flowMonProdPag section.productImage.grey {
    background-color: #f8f8f8;
}

@include responsive(small-screens) {
    .flowMonProdPag section.productImage.textInside {
        padding: 0;
        h3 {
            margin-bottom: -46px;
            padding-top: 10px;
            color: #fff;
            text-shadow: none;
        }
        img {
            position: relative;
            z-index: -1;
        }
    }
    .flowMonProdPag section.productImage.download {
        img {
            margin-left: 19%;
            width: 28%;
        }
        h3 {
            position: absolute;
            left: 28%;
            width: 25%;
            top: 143px;
            text-align: left;
        }
    }
}


.productPage-2015 {
    .topIcons {
        background-color: rgb(247, 244, 234);
        padding: 2em 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .orange {
        border-bottom: 12px solid $orange2015;
    }
    .yellow {
        border-bottom: 12px solid $yellow2015;
    }
    .green {
        border-bottom: 12px solid $green2015;
    }
    .pink {
        border-bottom: 12px solid $pink2015;
    }
    .lightblue {
        border-bottom: 12px solid $lightblue2015;
    }
    .darkblue {
        border-bottom: 12px solid $darkblue2015;
    }
    .none {
        border-bottom: 12px solid rgba(0,0,0,0);
    }
    .bigImage {
        margin-top: 1em;
        margin-bottom: 1em;
        img {
            width: 100%;
        }
        &:hover {
            @include transition(opacity 200ms ease-in-out);
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }        
    }
    .products {
        * {
            box-sizing: border-box;
        }
        a {
            display: inline-block;
            width: 40.175%;
            vertical-align: top;
            padding-top: 1em;
            &:nth-child(1),
            &:nth-child(4n),
            &:nth-child(4n+1) {
                width: 59.825%;
            }
            &:nth-child(odd) {
                padding-right: 1%;
            }
            &:nth-child(even) {
                padding-left: 1%;
            }
            &:hover {
                @include transition(opacity 200ms ease-in-out);
                opacity: 0.8;
            }
            &:active {
                opacity: 0.6;
            }
            @media only screen and (max-width: 600px) {
                &:nth-child(n) {
                    display: block;
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 1em;
                    padding-bottom: 0;
                    margin: 0;
                }
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
}
/* Apply list styles to custom form content, overriding resets */
.fullWidthParag {

}

/* for the new product pages */
.row{
	display: block;
	
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	position: relative;
	
	
	
	.col-3, .col-4, .col-6{
		padding: 15px;	
		position: relative;
		margin: 0;
		float:left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		min-height: 1px;
	}
	
	/* for four columns */
	.col-3{
		width:25%;
		@media only screen and (max-width: 992px){
			width: 100%;
		}
	}
	
	/* for three columns */
	.col-4{
		width: 33.333333%;
		@media only screen and (max-width: 992px){
			width: 100%;
		}
	}
	
	/* for 2 columns */
	.col-6{
		width: 50%;
		
		@media only screen and (max-width: 768px){
			width: 100%;
		}
	}
}

.row:before, .row:after{
	content: " ";
	display: table;
}

.row:after{
	clear: both;
}

/* START OF TABULAR CONTENT */
.tab-content{
	.tab-desc{
		margin:3em 0;
	}
	.tab-desc, .tab-desc p{
		text-align: center;
	}
}

.tab-inner-section{
	padding: 1em;
	margin: 1em auto;
	max-width: 610px;
}

/* END OF TABULAR CONTENT STYLES */




/* RSR ELEMENTS */
#content.rsrProdPag{ 

	.list-col{
		width:200px;
		float:left;
		margin-left:1em;
		margin-right:1em;
	}

	#testimonials{
		margin: 4em auto 0 !important;
	}
	
	
	#features_section{
		margin-top: -2em;
	}
	
	#pricing_image{
		max-width: 90%;
		margin-top: 2.5em;
	}
	
	#pricing_description{
		padding-bottom: 0;
	}
	
	#pricing_description_2{
		padding-top:0;
	}
	
	#support_button_title{
		padding: 0 2em;
		margin-top: 3em;
	}
	
	#support_buttons{
		margin-top: 0;
		padding-top: 0;
	}
	
	#support h2{
		margin-bottom: 0;
	}
	
	#support_content{
		padding-top: 4em;
	}
	
	#support_training_title{
		margin-top: 3em;
		margin-bottom: 1em;
	}
	
	#support_testimonial_title{
		margin-bottom: 0;
		margin-top: 3em;
	}
	
	#support_testimonials{
		padding-top: 2em;
		
		/*
		.twoColumns div{
			width: 30%;
			padding: 1em 9%;
		}
		*/
		em{
			max-width: 200px;
			margin: 0 auto;
			display: inline-block;
		}
	}
	
	#support_columns{
		margin-top:0;
		padding-top:0;
	}
	
	
	
	.sub-section{
		margin:2em 0;
		padding: 1em;
		.threeColumns.wrapper h3{
			margin-bottom:2em;
		}
	}
	
	.box-col{
		margin:0 0 2em;
		width: 100% !important;
		margin:0 auto 3em !important;
	}
	
	.banner{
		height: 200px;
		background-size: cover;
	}
	
	.list-box{
		text-align:center;
		li.box{
			display:inline-block;
			margin:20px 10px;
			width:320px;
			
			p{text-align:center;}
			hr{width:60%;}
			
			a[href]{
				color: inherit;
			}
			
			.image{
				background-size: cover;
				background-repeat: no-repeat;
				position:relative;
				height:80px;
				width:80px;
				margin:0 auto;
				background-position: center;
			}
		}	
	}
	
	.big-box-wrapper .box{
		height: 560px;
		overflow:hidden;
	}
	section.rsrNuggetsSection li{
		background: rgba(87, 193, 232, 0.1);
	}
	
	@media only screen and (max-width: 992px){
		.big-box-wrapper .box{
			width: 100% !important;
			height: auto;
			overflow: visible !important;
		}
	}
	
	.screenshot{
		padding: 1%;
		max-width:600px;
		margin:0 auto 80px;
	}
	.threeColumns > div:nth-child(3n+1), .threeColumns > li:nth-child(3n+1), .threeColumns > p:nth-child(3n+1){
		margin: 0;
	}
	
	
}	

/* ONLY USED IN THE RSR PAGE - NOW BEING UNUSED - TO BE REMOVED 
.media-box{
	background: rgba(114, 205, 255, 0.3);
	margin:5em auto;
	width:60%;
	padding: 2.5em 2%;
	border-radius: 3px;
	
	a[href]{
		color: inherit;
	}
	
	h3{
		text-shadow: none;
	}
	
	.media-left{
		display: block;
		float: left;
	}
	.media-right{
		display: block;
		float:right;
		
		strong{
			font-weight: normal;
			color: #2c2a74;
			display: block;
		}
		em{
			color: #2c2a74;
			font-size:1em;
			line-height: 1em;
		}
		hr{
			width: 50%;
			border: none;
			border-bottom: #555 solid 1px;
		}
		img{
			margin-top: -100px;
		}
		
	}
	
	.media-big{
		width: 48%;
		max-width: 450px;
	}
	.media-small{
		width:40%;
	}
	
	@media only screen and (max-width: 768px){
		.media-small{
			width: 100%;
			margin-top: 2em;
		}
		.media-right img{
			margin-top:0;
		}
		.media-big{
			width: 100% !important;
		}
	}
	
	
	.clear { clear: both }
}

	

/* STYLES FOR COUNTER */
.timeTicker {
    margin: 0 auto;
    min-width: 152px;
    display: inline-block;
    
    .clear:before, .clear:after {
    	content: "";
   		display: table;
	}
	.clear:after { clear: both }
	.clear { zoom: 1 }
    
    .timeSegment {
    	color: #3E3933;
    	float: left;
    	font-size: 12px;
    	margin-right: 20px;
    	/*min-width: 152px;*/
    	text-align: center;
    	text-shadow: 0 1px 0 #877E71;
    	/*border: #ccc solid 1px;*/
    	padding: 5px;
	}

    .timeSegment:last-child { margin-right: 0 }
    
    .dot{
    	float: left;
    	margin: 0 2px 0;
    	font-size: 24px;
    	padding: 40px 0 0;
    }
    
    .digit {
    	/* Digit */
   		background-color: #FFF;
    	border: 1px solid #999;
    	color: #000;
    	float: left;
    	font-size: 28px;
    	height: 60px;
    	line-height: 60px;
    	margin: 0 2px 2px 0;
    	position: relative;
    	text-align: center;
    	text-shadow: none;
    	width: 34px;
    	/* Box Shadow */
    	box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    	/* Border Radius */
    	border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
	}
    .digit::before, .digit::after{
    	content: "";
    	height: 29px;
    	left: 0;
    	line-height: 60px;
    	position: absolute;
    	width: 34px;
	}
	.digit::before {
    	/* Top element */
    	border-bottom: 1px solid #483F33;
    	top: 0;
    	/* Border Radius */
    	border-top-right-radius: 4px;
    	-moz-border-radius-topright: 4px;
    	border-top-left-radius: 4px;
    	-moz-border-radius-topleft: 4px;
    	/* Box Shadow */
    	box-shadow: 0px 1px 0 #665D53 inset;
    	/* Gradient */
    	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.02)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
    	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+, iOS 5+ */
    	background-image: -moz-linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,0)); /* FF3.6 */
    	background-image: -ms-linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,0)); /* IE10 */
    	background-image: -o-linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,0)); /* Opera 11.10+ */
    	background-image: linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,0));
	}
	.digit::after {
  	 	 /* Bottom element */
    	bottom: 0;
   		border-top: 1px solid rgba(255,255,255,.18);
    	/* Border Radius */
    	border-bottom-right-radius: 4px;
    	-moz-border-radius-bottomright: 4px;
    	border-bottom-left-radius: 4px;
    	-moz-border-radius-bottomleft: 4px;
    	/* Gradient */
    	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.06)), to(rgba(255,255,255,.01))); /* Saf4+, Chrome */
    	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.06), rgba(255,255,255,.01)); /* Chrome 10+, Saf5.1+, iOS 5+ */
	    background-image: -moz-linear-gradient(top, rgba(255,255,255,.06), rgba(255,255,255,.01)); /* FF3.6 */
    	background-image: -ms-linear-gradient(top, rgba(255,255,255,.06), rgba(255,255,255,.01)); /* IE10 */
	    background-image: -o-linear-gradient(top, rgba(255,255,255,.06), rgba(255,255,255,.01)); /* Opera 11.10+ */
   		background-image: linear-gradient(top, rgba(255,255,255,.06), rgba(255,255,255,.01));
	}
}

#hero-series-wrapper{
	max-width: 960px;
}




.akvositesProduct, #content.rsrProdPag{
	.threeColumns.wrapper{
		min-height: 120px;
		div{ 
			border:none;
			margin: 0 4%;
			width: 21%;
			
			.fa-2x{
				color: #2C2A74;
			}
			
			div{
				width: 100%;
			}
			
		}
		div:nth-child(3n+1){
			margin: 0 4%;
		}
		
		@media only screen and (max-width: 992px){
			div{
				width: 94% !important;
				margin: 1em auto !important;
				
				
			}
		}
	}
}




.rsrProdPag, .flowProduct, .lumenProduct, .akvositesProduct, .tabsProduct{
	
	/* HELPER CLASSES */
	
	
	.testimonials{
		margin-left: auto;
		margin-right: auto;
		p{
			/*max-width: 230px;*/
			max-width: 290px;
			margin-left: auto;
			margin-right: auto;
		}
		strong{
			@extend .col-title;
			margin: 1.1em 0em 0.5em;
		}
		hr{
			width:50%;
			max-width: 150px;
		}
		em{
			@extend .col-small-info;
		}
		a[href], a[href]:hover{
			color: inherit;
		}
		
		@media only screen and (max-width: 992px){
			.threeColumns > div{
				border: none;
			}
		}
		
	}
	
	.videoContainer {
        display: none;
        .vimeoBlockedMessage {
            display: none;
            text-align: center;
        }
        div.videoContainer {
            width: 1000px;
            max-width: 90%;
            margin: 0 auto;
        }
    }
	
	section:target{
		background: #FFF;
	}
	
	#video{
		max-width: 600px;
	}
	
	.bxslider{
		.image{
			width:100%;
			min-height:400px;
			position: relative;
			background-position: center;
			background-size: cover;
			
			a[href]{
				position:absolute;
				height:100%;
				width:350px;
				background: rgba(255, 255, 255, 0.8);
				top:0;
				left:10%;
				color: #2c2a74;
			
				p, h3{
					padding:10px 15px;
				}
			}
		
		
			@media only screen and (max-width: $width-small){
				a[href]{
					left:0%;
					width: 100%;
				}
			}
			
		}
	}
}	

.rsrProdPag, .dashProduct, .caddisflyProduct, .akvositesProduct, .flowProduct, .lumenProduct, .tabsProduct{
	.text-center{
		text-align:center !important;
		p{
			text-align:center !important;
		}
	}
}

.dashProduct, .caddisflyProduct, .akvositesProduct, .flowProduct, .lumenProduct, .tabsProduct{
	
	
	hgroup h1{
		background: url("../images/logos/akvo-lumen.png") center center no-repeat;
	}
	
	hgroup h2{
		margin-bottom: 3em;
	}
	
	.full-width-banner{
		width:100%;
		min-height:400px;
		position:relative;
		background-position: center;
		background-size: cover;
		
		a[href]{
			position:absolute;
			height:100%;
			width:300px;
			background: rgba(255, 255, 255, 0.8);
			
			top:0;
			left:10%;
			color: #2c2a74;
			
			p{
				padding:20px 25px;
			}
		}
		
		
		@media only screen and (max-width: $width-small){
			a[href]{
				left:0%;
				width: 100%;
			}
		}
	}

	.shallow-banner{
		min-height: 280px;
	}
	
	.overlay-banner{
		min-height: 0;
		
		a[href]{
			position: relative;
			height: auto;
			width: auto;
			background: none;
			left:0;
			top:0;
			cursor: default;
		}
	}
	
	li.box{
		display:inline-block;
		width:21%;
		float:left;
		padding: 0 2%;
		margin-bottom: 2em;
		margin: 0;
		@media only screen and (max-width: 992px){
			width: 100%;
			
		}
	}		
	
	h3{
		text-shadow: none;
	}
	
	
}

.akvositesProduct, .flowProduct, .lumenProduct, .tabsProduct{
	.shallow-banner{
		min-height: 200px;
	}
}

/* AKVO SITES SPECIFIC STYLES */
.akvositesProduct{

	$yellowBG: rgba(255, 210, 0, 0.8);
	
	#testimonials{
		margin-top:7em;
	}
	
	a[href].button{
		background: $yellowBG;
	}
	
	[data-behaviour~=akvo-tabs]{
		li{
			
			border-color: #2B2A75;
			color: #2B2A75;
			border-right: 0;
			
			a{
				color: #2B2A75;
			}
		}
		li.active{
			border-color: $yellowBG;
			background: $yellowBG;
			border-left:0;
			border-right:0;
		}
		li:last-child{
			border-right: #2B2A75 solid 1px;
			
			&.active{
				border-right: 0;
			}
		}
		
		@media only screen and (max-width: 768px){
			li{
				border-right:#2B2A75 solid 1px;
			}
			li.active{
				border-color: $yellowBG;
			}
		}
	}
	
	
	#section{
		/* gallery section */
		margin: 2em 0;
		
		.twoColumns a[href]{
			color: inherit;
		}
		
		strong{
			@extend .col-title;
		}
		
		.twoColumns > div:last-child, .twoColumns > li:last-child, .twoColumns > p:last-child, 
		.twoColumns > div:first-child, .twoColumns > li:first-child, .twoColumns > p:first-child{
			/* overriding two columns */
			margin: 0em 0.5%;
		}
		
		@media only screen and (max-width: 768px){
			.twoColumns li{
				margin: 2em auto !important;
			}
		}
	}
	
	#features_columns .threeColumns.wrapper div{
		@media only screen and (max-width: 992px){
			margin: 0 auto !important;
			padding: 0;
		}	
		
		.box-col{
			margin: 2em 0 !important;
			min-height: 230px;
			text-align: left;
		
			strong{
				@extend .col-title;
			}
		
			@media only screen and (max-width: 992px){
				margin: 3em 0 !important;
				min-height: auto;
					
			}
		}	
	}
}

/* CADDISFLY PRODUCT PAGE */
.caddisflyProduct{
	#get-involved-section{
		padding-top: 0;
	}
	@media only screen and (min-width: 993px){
		li.box{
			padding: 0 6%;
		}
	}
}

	
.box-btn{
	width: 320px;
	display: inline-block;
	margin: 10px 20px;
	
	a[href].button{
		margin:0;
	}
}

.page-section{	
	max-width: 800px;
	margin:0 auto;
	padding:5em 2em;
	
	img.aligncenter{
		margin-bottom: 4em;
	}
	
}
	
img.aligncenter{
	margin: 0 auto;
	display:block;
}


	
.page-section.full-width{
	max-width:100%;
	
	
	.fa{
		color: #2c2a74;
	}
	
	
}
.space-one{
	margin: 1em;
}

.prod-logo{
	max-width: 90%;
	height: auto;
	margin:2em auto;
	display:block;
}

.box{
	width: 250px;
	display: inline-block;
	margin: 1em;
	.box-image{
		width:100%;
		height: 150px;
		background-size: cover;
		background-position: center;
	}
	.box-text{
		margin-top: 0.25em;
	}
}



/* FLOW, LUMEN & CADDISFLY PRODUCT PAGE */
.tabsProduct{
	$orangeBG: rgba(222, 137, 41, 0.8);
	
	a[href].button{
		background: $orangeBG;
	}
	
	[data-behaviour~=akvo-tabs]{
		li{
			
			border-color: #2B2A75;
			color: #2B2A75;
			border-right: 0;
			
			a{
				color: #2B2A75;
				
			}
		}
		li.active{
			border-color: $orangeBG;
			background: $orangeBG;
			border-left:0;
			border-right:0;
		}
		li:last-child{
			border-right: #2B2A75 solid 1px;
			
			&.active{
				border-right: 0;
			}
		}
		
		@media only screen and (max-width: 768px){
			li{
				border-right:#2B2A75 solid 1px;
			}
			li.active{
				border-color: $orangeBG;
			}
		}
	}
	
	#overview_columns{
		margin-top: 3em;
		
		.orange-box{
			background: rgba(222, 137, 41, 0.2);
			border-radius: 15px;
			
			h3{
				color: rgb(222, 137, 41);
				text-shadow: none;
				border-radius: 15px;
			}
		}
	}
	
	#overview_buttons{
		margin-top: 3em;
	}
	
	#overview_testimonials{
		margin-top: 8em;
	}
	
	#overview_counter{
		margin-top: 6em;
		
		h4 a[href]{
			color: inherit;
		}
	}
	#services_list{
		
		margin-top: 4em;
		
		strong{
			@extend .col-title;
		}
		
		.desc{
			min-height: 180px;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	#services_buttons{
		margin-top: 4em;
	}
	
	#services_testimonials{
		margin-top: 6em;
	}
	
	#services_testimonials_title{
		margin-bottom: 1em;
	}
	
	#features_rows{
		h3{
			text-align: left;
		}
		h3.icon{
			margin-bottom: 0em;
		}
	}
	
	#pricing_image{
		max-width: 90%;
		margin-top: 4em;
	}
	
	#pricing_intro{
		margin-top: 4em;
	}
}	


/* LUMEN PRODUCT TAB */
.tabsProduct.lumenProduct{
	
	
	
	[data-behaviour~=akvo-tabs] li.active{
		background: $green2015;
		border-color: $green2015;
	}
	
	/* LAST TAB - GREEN COLOR */
	[data-behaviour~=akvo-tabs] li:last-child a{
		color: $green2015;
	}
	[data-behaviour~=akvo-tabs] li:last-child{
		border-color: $green2015;
	}
	/* END OF LAST TAB */

	
	a[href].button{
		background: $green2015;
	}
	
	/* FORM SUBMIT BUTTON */
	input[type="submit"]{
		background: $green2015;
		padding: 0.5em 1em !important;
		font-size: 1.5em !important;
		font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: initial;
	}
	/* END OF FORM BUTTON */
	
	#pricing_intro{
		margin-top: 0em;
	}
	
	.testimonials p{
		max-width: 500px;
	}
	
	.testimonials.page-section img.aligncenter{
		margin-bottom: 1em;
	}

	
	/* CONTACT FORM */
	.gform_wrapper{
	
		li.gsection.form-title{
			margin-top: 1.5em;
			margin-bottom: 0em;
			
			h2{
				font-size: 2em;
			}
			
		}
		
		ul li.gfield.form-checkbox{
			margin-top: 0;
			
			div.ginput_container_checkbox{
				margin-top: 0;
			}
			
		}
		
		li.gfield.field_description_below+li.gsection.form-title{
			margin-top: 2.5em !important;
		}
		
		.gform_footer{
			text-align: center;
		}
		
	}
	
	#field_6_8 label.gfield_label{
		font-size: 14px;
		font-weight: normal;
	}
	

}


.tabsProduct.caddisflyProduct{
	[data-behaviour~=akvo-tabs] li.active{
		background: #DE8929;
		border-color: #DE8929;
	}
	
	/* LAST TAB - ORANGE COLOR */
	[data-behaviour~=akvo-tabs] li:last-child a{
		color: #DE8929;
	}
	[data-behaviour~=akvo-tabs] li:last-child{
		border-color: #DE8929;
	}
	/* END OF LAST TAB */
}
